.popup-page-pattern {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 800px;

  .pattern-left {
    padding: 15px;
    border-radius: 10px 0 0 10px;
    width: 35%;
    background: #f8f7fc;

    display: flex;
    flex-direction: column;
    .pattern-left-header {
      height: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      .pattern-left-header-desc {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
      }
    }
    .pattern-left-progress {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .pattern-left-footer {
      height: 20%;
      display: flex;
      flex-direction: row;

      .pattern-left-footer-icon {
        display: flex;
        align-items: center;
        padding-left: 25px;
        img {
          width: 16px;
          height: 16px;
        }
      }
      .pattern-left-footer-info {
        color: #a5a4ad;
        display: flex;
        align-items: center;
        padding-left: 15px;
        font-size: 12px;
        line-height: 15px;
      }
    }
  }

  .pattern-right {
    padding: 40px;
    border-radius: 0 10px 10px 0;
    width: 65%;
    background: #ffffff;
    display: flex;
    flex-direction: column;

    .pattern-right-header {
      height: 20%;
      display: flex;
      align-items: flex-end;
      h2 {
        margin: unset;
        color: #151e3b;
      }
    }

    .pattern-right-progress {
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .form-control:focus {
        border-color: #dae0e5;
        box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
        // border-radius: 2px;
        // border-color: #efefef;
        // box-shadow: 0 0 0 0.2rem rgb(248, 247, 252);
      }
    }
    .pattern-right-footer {
      height: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .pb-btn-custom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .pb-btn-custom-finish-later {
          border-color: #e4e3e8;
          background: transparent;
          &:hover {
            background: #f8f7fc;
          }
        }
        .pb-btn-custom-next {
          border-color: rgba(95, 122, 248, 1);
          background: rgba(95, 122, 248, 1);
          padding-left: 34px;
          padding-right: 34px;

          &:hover {
            border-color: rgb(50, 87, 248);
            background: rgb(50, 87, 248);
          }

          &-disabled {
            background: #bbb3fe;
            border-color: #bbb3fe;
          }
        }
      }
    }
  }
}
