@font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 100;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-Thin.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 200;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-ExtraLight.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-Light.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-Regular.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 500;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-Medium.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-SemiBold.ttf") format("truetype");
  }
  @font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-Bold.ttf") format("truetype");
  }
  
  @font-face {
    font-family: "Josefin_Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Josefin Sans"), local("Josefin_Sans"),
      url("../Fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf")
        format("truetype");
  }