@import "../variables.scss";

$iconProgramming: "../../img/icons/icon_shell.png";
$iconAlgorithms: "../../img/icons/icon_algorithms.png";
$iconMore: "../../img/icons/icon_more.png";

.products {
    // temporarily saved in .modern-borders
    // box-shadow: -5px 5px 9px #fafafa;
    // border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    margin: 1% 6%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 1%;
    transition: all 0.4s;

    > h4 {
      font-weight: 500;
      margin-bottom: 10px;
    }
    > h5 {
      font-weight: 300;
      margin-top: 0;
    }

    > img {
      height: 50px;
      width: 50px;
      transition: width 0.4s;
    }

    > .icon {
      height: 50px;
      width: 50px;
      transition: all 0.4s;
    }

    > .icon-programming{
      background: #000000;
      mask: url($iconProgramming) no-repeat center / contain;
      -webkit-mask: url($iconProgramming) no-repeat center / contain;
    }

    > .icon-algorithms{
      background: #000000;
      mask: url($iconAlgorithms) no-repeat center / contain;
      -webkit-mask: url($iconAlgorithms) no-repeat center / contain;
    }

    > .icon-more{
      background: #000000;
      mask: url($iconMore) no-repeat center / contain;
      -webkit-mask: url($iconMore) no-repeat center / contain;
    }
  }

  .products:hover {
    background-image: $text-gradient-color-rotated;
    cursor: pointer;
    color: #ffffff;

    & > img {
      width: 40px;
    }

    & > .icon {
      width: 40px;
      background: white;
    }
  }