.each-progress {
  display: flex;
  flex-direction: row;
  padding: 10px 25px;

  .each-progress-index {
    width: 30px;
    display: flex;
    justify-content: center;
    .each-progress-index-done {
      img {
        width: 25px;
      }
    }
    .each-progress-index-active {
      background: #ffffff;
      display: flex;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #272b3c;
      box-shadow: 0px 5px 10px rgba(216, 217, 219, 0.5);
    }
    .each-progress-index-rounded {
      background: #eff0f9;
      display: flex;
      border-radius: 100%;
      width: 25px;
      height: 25px;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: #8a8c99;
    }
  }
  .each-progress-title {
    padding-left: 20px;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #8a8c99;
    &-active {
      color: #272b3c;
    }
  }
}
.each-progress:hover {
  background: rgba(0, 0, 0, 0.01);
  border-radius: 100px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.01);
  cursor: pointer;
}
