@import "../variables.scss";

.home-panel {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
  padding: 0 85px;
  height: 30%;
  margin-bottom: 50px;
  padding-left: 155px;

  .home-panel-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 80px 0;

    h1 {
      align-self: flex-start;
      text-align: left;
      background: $text-gradient-color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .home-panel-left-divisor-line {
      background-image: $text-gradient-color;
      height: 2px;
      margin-bottom: 12px;
      margin-top: 5px;
      width: 95%;
    }
    h4 {
      padding-left: 2px;
      color: #272b3c;
      text-align: left;
      font-size: 14px;
      width: 85%;
      /* align-self: flex-end; */
      opacity: 0.8;
      font-weight: 400;
    }
    .home-panel-left-button {
      color: #5f7af8;
      border-radius: 100px;
      width: 170px;
      height: 45px;
      // align-self: flex-end;
      align-self: center;
      margin-top: 15px;
      // margin-left: 10%;

      border: 2px solid transparent;
      background: linear-gradient(to right, $base-body, $base-body),
        $text-gradient-color;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;

      transition: all ease 0.5s;
    }
    .home-panel-left-button:hover {
      transition: all ease 0.5s;
      color: $background-color;
      border: 2px solid transparent;
      background: $text-gradient-color, $text-gradient-color;
      background-clip: padding-box, border-box;
      background-origin: padding-box, border-box;
      cursor: pointer;
      font-size: 14.5px;
    }
    .home-panel-left-button:active {
      opacity: 0.7;
    }
  }

  .home-panel-right {
    width: 55%;
    align-self: center;
    display: flex;
    flex-direction: column;
    img {
      height: 400px;
      align-self: center;
      padding-left: 15%;
      // margin-top: 7%;
    }
  }
}

.home-body {
  display: flex;
  flex-direction: column;
  .home-body-header {
    align-self: center;
    margin-bottom: 30px;

    h3 {
      font-weight: 200;
    }

    .home-body-header-divisor {
      background: $simple-color;
      height: 2px;
      margin: 0px 35%;
    }
  }

  .home-body-section-products {
    margin-bottom: 50px;

    .home-body-section-products-bar {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 85px;


    }
  }
}

.home-service-1 {
  // background: $background-color;
  background: #ffffff;
  height: 500px;

  .home-service-1-container {
    display: flex;
    flex-direction: row;
    margin: 0 85px;
    height: 100%;

    .home-service-1-container-image {
      height: 100%;
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;

      img {
        height: 480px;
        align-self: center;
      }
    }
    .home-service-1-container-info {
      text-align: center;
      height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      width: 50%;

      h2 {
        background: $text-gradient-color-rotated;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 25px;
      }

      h5 {
        margin: 0 20%;
        line-height: 21px;
        font-weight: 400;
        color: $dark-text-color;
      }

      .test-button {
        // same button as below with different width needs to combine
        color: #5f7af8;
        border-radius: 100px;
        width: 130px;
        height: 45px;
        align-self: center;
        margin-top: 15px;

        border: 2px solid transparent;
        background: linear-gradient(to right, $base-body, $base-body),
          $text-gradient-color;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;

        transition: all ease 0.5s;
      }
      .test-button:hover {
        transition: all ease 0.5s;
        color: $background-color;
        border: 2px solid transparent;
        background: $text-gradient-color, $text-gradient-color;
        background-clip: padding-box, border-box;
        background-origin: padding-box, border-box;
        cursor: pointer;
        font-size: 14.5px;
      }
      .test-button:active {
        opacity: 0.7;
      }
    }
  }
}

.home-service-2 {
  // background: #ffffff;
  background: $background-color;
  height: 500px;

  .home-service-2-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 150px;

    .home-service-2-header {
      padding-top: 25px;
      align-self: flex-start;
      margin: 0 30px;

      h2 {
        // position: absolute;
        // margin: 30px 180px;
        font-size: 27px;
        font-weight: 400;
        letter-spacing: 1px;
      }

      .home-service-2-header-divisor {
        // position: absolute;
        // margin: 70px 180px;
        width: 70px;
        height: 2px;
        background: #8b77da;
      }
    }

    .home-service-2-containers {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;

      .home-service-2-newsfeed-container {
        transition: all ease 0.3s;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        height: 300px;
        width: 30%;
        margin: 30px;

        .newsfeed-img {
          background-image: $text-gradient-color-rotated;
          height: 60%;
          border-radius: 5px 5px 0 0;
        }

        .newsfeed-body {
          padding: 15px 20px;
          h3 {
            margin: 12px 0;
          }
          h6,
          h5 {
            margin: 0;
          }
        }
      }

      .home-service-2-newsfeed-container:hover {
        margin-top: 45px;
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

.home-service-3 {
  background: #ffffff;
  height: 500px;
  .home-service-3-container {
    display: flex;
    flex-direction: row;
    margin: 0 85px;
    height: 100%;

    .home-service-3-aboutus-img {
      height: 100%;
      display: flex;
      align-self: center;
      justify-content: center;
      flex-direction: column;
      width: 50%;

      img {
        height: 480px;
        align-self: center;
      }

    }
    .home-service-3-aboutus-description {
      text-align: center;
      height: 100%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      width: 50%;

      h2 {
        background: $text-gradient-color-rotated;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 25px;
      }

      h5 {
        margin: 0 20%;
        line-height: 21px;
        font-weight: 400;
        color: $dark-text-color;
      }
    }
  }
}

.modern-borders {
  box-shadow: -5px 5px 9px #fafafa;
  border-radius: 5px;
}

.coverSVG {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 95%;
  top: 0;
}

.footerSVG {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 70px; 
}
