@import "../variables.scss";

.header {
  // background-image: $base-gradient;
  // background: #ffffff;
  
  nav {
    ul {
      margin: 0px 70px 0px 90px;
      li {
        display: inline-block;
        padding: 15px 20px;

        a {
          // background: $base-gradient-text;
          background: $text-gradient-color;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-decoration: none;
        }
      }
      .user-box {
        display: inline-block;
        float: right;
        margin: 0 85px;

        li {
          box-shadow: -5px 5px 9px #526adc;
          border-radius: 5px;
          border-radius: 100px;
          align-self: center;
          font-size: 14.5px;
          padding: 8px 15px;
          // margin: 5px 5px;
          margin: 10px 10px 0px 10px;
          border: 2px solid transparent;
          // background: #5f7af8;
          // color: #ffffff;
          background-color: $background-color;
          color: #5f7af8;

          transition: all ease 0.3s;
        }
        li:hover {
          // background-color: $background-color;
          // color: #5f7af8;
          background: #5f7af8;
          color: #ffffff;

          border: 2px solid transparent;
          cursor: pointer;
        }
        li:active {
          opacity: 0.7;
        }
      }
    }
  }
}
