@import "~bootstrap/scss/bootstrap";
@import './fixbootstrapheadings.scss';
@import '../Fonts/index.css';
@import './variables.scss';

body {
  font-family: "Josefin_Sans";
  background: $background-color;
}
button {
  font-family : inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fcfcfc; 
}
 
::-webkit-scrollbar-thumb {
  background: #888888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #505050; 
}