$base-gradient: linear-gradient(to bottom, #dfdfdf73, #ffffff);
$base-gradient-text: linear-gradient(to right, #090946, #ff005b);
$text-gradient-color: linear-gradient(to left, #5f7af8, #947cf9);
$text-gradient-color-rotated: linear-gradient(to top, #5f7af8, #947cf9);
$simple-color: #8b77da;
$dark-text-color: #272b3c;
$base-body: #ffffff;
$background-color: #fcfcfc;
// $base-gradient: linear-gradient(to top, #090946, #ff005b);