.strength-checker {
  display: flex;
  flex-direction: column;
  width: 100%;

  .strength-checker-title {
    font-size: 13px;
    padding: 4px;
    color: #6c757d;
  }

  .strength-checker-progressbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .strength-checker-progressbar-peace {
      height: 4px;
      border-radius: 10px;
      width: 24%;
      background: #31d07d;
    }
  }
}
