.footer {
  margin-top: 70px;
  #footer-content {
    background: #5f7af8;
    color: #fcfcfc;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 0 85px;
    .footer-section {
      width: 25%;
      display: flex;
      align-self: center;
      justify-content: center;
      h5 {
        margin: 0;
        line-height: 24px;
      }
      h3 {
        margin-top: 8px;
      }
      .inside-container {
        img {
          height: 35px;
        }
      }
    }
  }

  .footer-last-text {
    h5 {
      margin: 0;
      color: white;
      background: #5f7af8;
      padding-bottom: 15px;
      text-align: center;
    }
  }
}
