.LogInWrapper {
  background: #fcfcfc;
  padding: 15px;
  border-radius: 8px;
  > * {
    font-size: 14px;
  }

  .form-header {
    font-size: 18px;
    p {
      padding: 5px 0 10px 0;
    }
  }

  form {
    background: white;
    padding: 40px 20px 40px 20px;
    box-shadow: 0 0 25px -8px #e4e4e4;
    width: 280px;

    input {
      border-radius: 2px;
    }
    input:focus {
      border-color: #dae0e5;
      box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
    }

    .formButtons {
      display: flex;
      flex-direction: row;

      > button:first-child {
        border: 1px solid #0074f1;
      }

      button {
        width: 50%;
        margin: 0px 3px;
        padding: 2px 0px;
        border-radius: 2px;
        border: 1px solid #ced4da;
      }
    }
  }

  .form-hyperlink {
    color: #2f2fff;
    cursor: pointer;
  }
  .form-hyperlink:hover{
    color: #0000f7;
  }

  .form-footer {
    p {
      padding: 20px 0 5px 0;
      margin: unset;
    }
  }
}

.form-control,
.btn {
  font-size: 14px;
}
